/* section {
    background-color:  #011f3c9c;
    border-radius: 20px;
    width: 500px;
    margin-left: 310px; 
    padding: 40px;
    box-shadow: 2px 2px 5px hwb(48 0% 0% / 0.619);
  }
  
  h3 {
    text-align: center;
    margin-bottom: 3px;
    color: #946d13;
  }
  
  .linha{
  width: 100%;
  height:1px;
  margin:30px 0 20px 0;
  background:#ebe8f3;
  }
  
   form#catalogarAdm { 
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    color: #ffffffbe;
  }
  
  form#register input+label {
    margin-top: 12px;
  }
  
  label {
    font-size: 16px;
  }
  
  input {
    margin-top: 2px;
    margin-left: 10pt;
    border-radius: 7px;
    border: 2px solid transparent;
    padding: 4px;
    font-size: 16px;
    background-color: #01325f9c;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
    outline: none;
    color: aliceblue;
  }
  
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  textarea {
    margin-top: 2px;
    margin-left: 10pt;
    font-size: 12px;
    border-radius: 7px;
    border: 2px solid transparent;
    background-color: #01325f9c;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
    resize: none;
    outline: none;
    color: aliceblue;
  }
  
  input:focus, textarea:focus {
    border: 2px solid #946d13;
  }
  
  button {
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    background-color: #946d13;
    color: white;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
  }
  
  button:hover {
    background-color:  #be9d50;
    cursor: pointer;
  } */