.mainCatalogoAdm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab_cd_adm {
    width: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .tab_cd_adm {
    width: 97%;
  }

  .td_cd_adm_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .td_cd_adm > input {
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba (255,255,255,.1);
    color: #111111;
    margin-top: 10px;
  }

.td_cd_adm_btn> button {
  width: 60px;
  padding: 10px 0px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  font-family:'Manrope', sans-serif;
  letter-spacing: 1px;
  color: #ebe8f3;
  background: #946d13;
  cursor: pointer;
}
  
.td_cd_adm ,.tr_res_adm{
    padding: 5px;
    width: auto;
    border: 1px solid #ecb100c6;
    border-radius: 1px;
    height: 30px;
  }
  
.tr_cd_adm:first-child{
  text-align: center;
  color:#ffbf00;
  background-color: rgba(0, 153, 255, 0.383);
  Font-weight: bold
  } 
   
.tr_cd_adm:hover{background-color:rgba(255, 255, 255, 0.479)}

.btn-maisreserva-cd-adm{
    border: none;
    margin: 10px;
    color: #ffffffe5;
    background: hsla(0, 0%, 0%, 0);
    padding: 10px 20px;
    text-align: center;
    display:inline-block;
    text-decoration:none;
    font-size: 14px;
    border: 2px solid #ecb10076;
    border-radius: 5px;
    position:relative;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h2_cd_adm{
    color: #d89f00;
    text-align: center;
}

.footerCatalogoAdm {
  background-color: #12162c;
  padding: 20px 0;
  text-align: center;
  margin-top: 5%;
}