.reservaPage {
  width: 100vw;
  height: 100vh;
}

.tab_reserva{
      color: rgb(255, 255, 255);
      width: 90%;
      background-color: rgba(221, 221, 221, 0);
    }
    
   .td_reserva {
    text-align: center;
    border: 2px solid #cb9501e0;
    border-radius: 2px;
    height: 30px;
    }
    
    .tr_reserva:first-child{
      text-align: center;
      color:rgb(255, 255, 255);
      background-color: rgb(1, 7, 47);
      Font-weight: bold
    } 
    
    .td_reserva:first-child{
    text-align: center;
    height: 10px;
    width: 150px;
    } 
    
    .td_reserva:last-child{
    text-align: center;
    height: 100px;
    width: 35%;
    } 

.btn-Cancelar {
  width: 50%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family:'Manrope', sans-serif;
  letter-spacing: 1px;
  color: #ebe8f3;
  background: #946d13;
  cursor: pointer;
}
    
    
    .td_reserva:hover{background-color:#8d8d8d63}

    .footerReservas {
      background-color: #12162c;
      padding: 20px 0;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }